@import "../../style/style.scss";

.tag_list {
    display:flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 0;
}
.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    margin-right: 10px;
    border-radius: 10px;
    height: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 142.6%;
    padding: 3px 32px;
    color: #FFFFFF;
}