@import "../../style/style.scss";

.main_accueil {
  max-width: 1240px;
  width: 100%;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/BackAcc.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  max-width: 1240px;
  height: 233px;
  border-radius: 1.5rem;
  position: relative;
  margin-top: 50px;

  h1 {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    position: relative;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
  }

  .fade_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 1.5rem;
  }
}

.dispo_accueil {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  margin: 0;
  max-width: 1240px;
  height: 100%;
  list-style: none;
  background-color: $background;
  border-radius: 1.5em;
  padding: 1.5em;
  justify-items: center;
  margin: 2.5rem 0;
}

@media all and (max-width: 1111px) {
  .dispo_accueil {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 801px) {
  .dispo_accueil {
    grid-template-columns: repeat(1, 1fr);
  }

  .banner h1 {
    font-size: 32px;
    margin: 0 10px;
  }
}

@media all and (max-width: 510px) { 
  .dispo_accueil {
  max-width: 435px;
  padding: 0px;
  row-gap: 20px;
  }

  .banner {
    background-position-x: 40%;
    max-width: 435px;
    height: 111px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;

    .fade_background {
      border-radius: 10px;
      }
    h1 {
      font-size: 24px;
      }
    
  }
}

@media all and (max-width: 376px) {
  .dispo_accueil {
    max-width: 335px;
    background-color: white;
    margin-top: 20px;
  }

  .main_accueil h1 {
    font-size: 24px;
    padding-left: 16px;
    text-align: left;
    font-weight: 400;
  }

  .banner {
    background-position-x: 40%;
    max-width: 335px;
    height: 111px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;

    .fade_background {
      border-radius: 10px;
    }
  }
}
