@import "../../style/style.scss";

.main_404 {
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.titre_404 {
  font-weight: 700;
  font-size: 288px;
  line-height: 411px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: $primary;
  margin-top: 4rem;
  margin-bottom: 5px;
}

.texte_404 {
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $primary;
  margin-bottom: 182px;
}

.link_404 {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration-line: underline;
  color: $primary;
  margin-bottom: 156px;
}

@media all and (max-width: 1286px) {
  .main_404 {
    max-width: 1050px;
  }
}

@media all and (max-width: 1111px) {
  .main_404 {
    max-width: 890px;
  }
}

@media all and (max-width: 950px) {
  .main_404 {
    max-width: 750px;
  }
}

@media all and (max-width: 801px) {
  .main_404 {
    max-width: 730px;
  }
  .titre_404 {
    font-size: 200px;
    line-height: normal;
  }

  .texte_404 {
    margin-bottom: 30px;
  }

  .link_404 {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 501px) {
  .titre_404 {
    font-size: 150px;
  }

  .texte_404 {
    font-size: 24px;
    margin-bottom: 100px;
  }
}

@media all and (max-width: 376px) {
  .titre_404 {
    font-size: 96px;
    margin-top: 195px;
  }

  .texte_404 {
    font-size: 18px;
  }

  .link_404 {
    font-size: 14px;
  }
}
