@import "../../style/style.scss";

.carte_li {
  max-width: 340px;
  max-height: 340px;
  border-radius: 0.5em;
  margin: 1.5em;
  overflow: hidden;
  position: relative;
}

.carte_img {
  width: 100%;
  max-width: 340px;
  height: 340px;
  object-fit: cover;
}

.carte_titre {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  margin: 0;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
}

.lien_carte {
  width: 100%;
  text-decoration: none;
}

@media all and (max-width: 801px) {
  .carte_li {
    max-width: 450px;
  }

  .carte_img {
    max-width: unset;
  }
  }

@media all and (max-width: 510px) { 
  .carte_li {
    max-width: 435px;
    height: 355px;
    background-color: white;
    margin: 0;
  }
  .carte_titre {
    top: 68%;
    height: 63px;
  }

  .carte_img {
    max-width: 435px;
    width: 100%;
    max-height: 355px;
    height: 100%;
  }
}

@media all and (max-width: 376px) {
  .carte_li {
    max-width: 335px;
    height: 255px;
    background-color: white;
    margin: 0;
  }
  .carte_titre {
    top: 68%;
    height: 63px;
  }

  .carte_img {
    max-width: 335px;
    width: 100%;
    max-height: 255px;
    height: 100%;
  }
}
