@import "../../style/style.scss";

.main_apropos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 1.5rem;
}

.img_apropos {
  border-radius: 1.5rem;
  width: 100%;
}

.dispo_apropos {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  max-width: 1240px;
  width: 100%;
}

@media all and (max-width: 376px) {
  
}