@import "../../style/style.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  max-width: 1240px;
  width: 100%;
}

nav {
  display: flex;
  max-width: 309px;
  gap: 4vw;
}

.lien_head {
  color: $primary;
  text-decoration: none;
  font-size: $taille_txt;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}
@media all and (max-width: 1286px) {
  header {
    max-width: 1050px;
  }
}

@media all and (max-width: 1111px) {
  header {
    max-width: 890px;
  }
}

@media all and (max-width: 950px) {
  header {
    max-width: 750px;
  }
}

@media all and (max-width: 801px) {
  header {
    max-width: 730px;
  }
}

@media all and (max-width: 511px) {
  .lien_head {
    font-size: 19px;
  }
}

@media all and (max-width: 422px) {
  .lien_head {
    font-size: 14px;
  }
}

@media all and (max-width: 376px) {
  header {
    margin: 0 20px;
  }
}

@media all and (max-width: 376px) {
  header {
    padding: 0 20px;
    max-width: 335px;
    margin-top: 20px;
    height: 47px;

    .logo_site {
      max-width: 100px;
      object-fit: contain;
    }

    .lien_head {
      font-size: 12px;
      padding-left: 20px;
    }
  }
}
